In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from scipy.stats import pearsonr, spearmanr

import env
import wrangle

In [2]:
# get telco data
ex_df = wrangle.wrangle_telco()

In [3]:
ex_df.head()

  customer_id  monthly_charges  tenure  total_charges
0  0013-SMEOE           109.70      71        7904.25
1  0014-BMAQU            84.65      63        5377.80
2  0016-QLJIS            90.45      65        5957.90
3  0017-DINOC            45.20      54        2460.55
4  0017-IUDMW           116.80      72        8456.75

1_ Make sure to perform a train, validate, test split before and use only your train dataset to explore the relationships between independent variables with other independent variables or independent variables with your target variable.

In [5]:
train, validate, test = wrangle.split_continuous(ex_df)

train -> (949, 4)
validate -> (407, 4)
test -> (339, 4)

2) Write a function named plot_variable_pairs that accepts a dataframe as input and plots all of the pairwise relationships along with the regression line for each pair.

In [22]:
def plot_variable_pairs(df):
    sns.pairplot(df[df.columns.tolist()], corner=True, kind='reg', plot_kws={'line_kws':{'color':'red'}})
    plt.show()

In [ ]:
sns.pairplot(train[['exam1', 'exam2', 'exam3', 'final_grade']], corner=True)
plt.show()

In [ ]:
sns.lmplot(x, y, data, scatter=True, hue=None, col=None)